<div class="row">
  <!-- <% @photos.each do |photo| %>
    <div class="col-lg-3">
      <div class="thumbnail">
        <a href="#">
          <img src="<%= photo.url %>" alt="" />
        </a>
        <div class="caption">
          <h4><%= photo.title %></h4>
          <span><a href="#"><%= photo.user.full_name %></a></span>
          <p><%= photo.description %></p>
        </div>
        <ul class="tool-group">
          <li><a href="#"><%= fa_icon 'heart' %></a></li>
          <li><a href="#"><%= fa_icon 'plus' %></a></li>
        </ul>
        <span class="comment"><a class="comment-link" href="">100 comments</a></span>
        <div class="comment-box">
          <%= form_tag do %>
            <%= text_area_tag :comment, nil, class: 'form-control', rows: "3" %>
            <%= button_tag 'Add comment', class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %> -->
  <div class="col-lg-3">
    <div class="thumbnail">
      <a href="#">
        <img src="https://hd.unsplash.com/photo-1469053913977-1d2f009670d9" alt="" />
      </a>
      <div class="caption">
        <h4>Title</h4>
        <span><a href="#">Jerome Sta. Maria</a></span>
        <p>This topic is useful for me because i didnt know how to describe a picture like the position of an object,what's happening and where is something i recommend read more</p>
      </div>
      <ul class="tool-group">
        <li><a href="#"><%= fa_icon 'heart' %></a></li>
        <li><a href="#"><%= fa_icon 'plus' %></a></li>
      </ul>
      <span class="comment"><a class="comment-link" href="">100 comments</a></span>
      <div class="comment-box">
        <%= form_tag do %>
          <%= text_area_tag :comment, nil, class: 'form-control', rows: "3" %>
          <%= button_tag 'Add comment', class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="thumbnail">
      <a href="#">
        <img src="https://hd.unsplash.com/photo-1452421822248-d4c2b47f0c81" alt="" />
      </a>
      <div class="caption">
        <h4>Title</h4>
        <span><a href="#">Jerome Sta. Maria</a></span>
        <p>This topic is useful for me because i didnt know how to describe a picture like the position of an object,what's happening and where is something i recommend read more</p>
      </div>
      <ul class="tool-group">
        <li><a href="#"><%= fa_icon 'heart' %></a></li>
        <li><a href="#"><%= fa_icon 'plus' %></a></li>
      </ul>
      <span class="comment"><a class="comment-link" href="">100 comments</a></span>
      <div class="comment-box">
        <%= form_tag do %>
          <%= text_area_tag :comment, nil, class: 'form-control', rows: "3" %>
          <%= button_tag 'Add comment', class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
